table.form-table ul {
	margin: 0;
}
ul#font_file_fields li span.remove {
	color: #999;
	cursor: pointer;
}

/* Font List */
div#font_list div.font_name span {
	color: #fff;
	font-size: 10px;
	margin: 0 0 0 4px;
	padding: 0 4px 0 4px;
}
div#font_list div.font_name span.ttf { background: #F24130; }
div#font_list div.font_name span.woff { background: #03658C; }
div#font_list div.font_name span.svg { background: #F2E205; }
div#font_list div.font_name span.eot { background: #038C8C; }
div#font_list div.font_name span.otf { background: #F27329; }
div#font_list a {
	font-size: 10px;
	margin: 0 0 0 8px;
}
div#font_list ul.file_list {
	display: none;
	padding: 0 0 0 16px;
}
div#font_list ul li {
	margin: 0;
}
div#font_list ul.preview {
	margin: 0 0 12px 0;
	padding: 3px 0 0 0;
	width: 100%;
}
div#font_list ul:after { content: ""; display: block; clear: both;}
div#font_list ul.preview li {
	border: 1px #ccc solid;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	float: left;
	margin: 0 6px 6px 0;
}
div#font_list ul.preview li div.preview {
	float: none;
	font-size: 1.4em;
	padding: 9px 0 6px 0;
	text-align: center;
	width: 60px;
}
div#font_list ul.preview li div.code_point {
	color: #ccc;
	font-size: 10px;
	float: none;
	text-align: center;
	width: 60px;
}

